@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

header {
  background: #eee;
  text-align: center;
  padding: 32px 0;
  max-width: 100%;
  height: auto;
}

@media (max-width: 600px) {

  h1,
  h2,
  h3 {
    text-align: center;
  }
}

header img {
  border-radius: 50%;
}

h1 {
  margin: 16px 0 0;
  font-weight: normal;
  font-size: 24px;
}

main {
  padding: 64px 0;
}

h2 {
  margin: 0;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}

h3 {
  margin: 16px 0 0;
  font-weight: normal;
  font-size: 20px;
}

section {
  width: 400px;
  margin: 64px auto 0;
}

section p {
  margin-top: 16px;
  line-height: 1.8;
}

.line {
  width: 80px;
  height: 1px;
  background-color: #c7bdb4;
  margin: 50px auto;
}

footer {
  border: 1px solid #ccc;
  text-align: center;
  padding: 64px 0;
}

small {
  font-size: 14px;
  color: #aaa;
}

address {
  margin-top: 16px;
}

a:hover {
  opacity: .7;
}